/* ---------->>> RESET / GLOBAL <<<-----------*/

body, h1, h2, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
  }
  
  body{
    font-family: 'Montserrat', Helvetica, Arial,  sans-serif;
    color: #000000;
  }
  
  ul{
    list-style: none;
    padding: 0;
  }
  
  li, a{
    text-decoration: none;
  }
    
   /* ---------->>> MENU <<<-----------*/
  
  #menu-bg{
    display: flex;
    width: 100%;
    height: 20vw;
    background-image: url(../img/01edited.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .menu-sobreposicao{
    top: 0;
    width: 100%;
    height: 20vw;
    position: absolute; 
    background: rgba(0,0,0,.30);
    z-index: 0;   
  }
  
  .menu{
    display: flex;
    margin-top: 21%;
    width: 100%;
    height: 50px;
    font-size: .95em;
  }
  
  .menu ul{
    list-style: none;
    margin: 0 auto;
    background-image: linear-gradient(-50deg, #0100EC, #FC5252);
  }

  .menu ul li{
    width: 160px;
    float: left;
  }
  
  .menu a {
    padding: 16px;
    display: block;
    text-align: center;
    color: #FFF;
  }
  
  .menu ul ul{
    position: absolute;
    visibility: hidden; 
  }
  
  .menu ul li:hover ul{
    visibility: visible;
  }
  
  .menu a:hover{    
    font-weight: 600;
  }
  
  .menu ul ul li{
    float: none;
    background: rgba(252, 82, 82, 0.4);
  }
  
  /* ---------->>> LOGO <<<-----------*/
  
  .logo-container{
    display: flex;
    width: 100%;
    height: 20vw;
    justify-content: space-evenly;
    margin-top: -20vw; 
    align-items: flex-end;
  }

  .logo-travessia{
    font-family: 'Euphoria Script', cursive;
    font-size: 4.5em;
    margin-left: 33%;
    margin-top: -68px;
    color: white;
    font-weight: 600;
    position: absolute;
    z-index: 1;
  }
    
  .img-um{
    width: auto;
    height: 400px;
    z-index: 1;
  }
  
  .img-dois{
    width: auto;
    height: 200px;
    z-index: 1;
  }
  
  /* ---------->>> MAIN <<<----------*/
  
main{
  margin: 100px 0;
}

.citacao{
  padding: 50px 0; 
  width:100%;
}

.citacao p{
  padding: 30px;
  margin: 20px auto;
  width: 80%;
  font-size: 2em;
  font-weight: 600;
  font-family: 'Euphoria Script', cursive;
}

.citacao .nome{
  margin-left: 80%;
  width: 190px;
  font-size: 0.95em;
  text-align: center;
  font-weight: 500;
}

#pedagogia-container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0; 
    justify-content: center;
}

.waldorf-container{
  display: flex;
  width: 100%;
  margin: 0 10px;
  justify-content: center;
}

.waldorf-article{
  border: 6px solid;
  -moz-border-image: -moz-linear-gradient( #0100EC, #FC5252 100%);
  -webkit-border-image: -webkit-linear-gradient( #0100EC, #FC5252 100%);
  border-image: linear-gradient(-50deg, #0100EC, #FC5252 100%);
  border-image-slice: 1;
}

.waldorf-article h1{
  padding: 30px;
  font-size: 2.5em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.waldorf-article p{
  font-size: 1.3em;
  width: 80%;
  margin: 0 auto;
  color: rgb(90, 90, 90);
}

.waldorf-img{
  margin-left: 5px;
  padding: 20px;
  border: 6px solid;
  -moz-border-image: -moz-linear-gradient( #0100EC, #FC5252 100%);
  -webkit-border-image: -webkit-linear-gradient( #0100EC, #FC5252 100%);
  border-image: linear-gradient(-50deg, #0100EC, #FC5252);
  border-image-slice: 1;
}

.waldorf-img p{
  font-size: 0.95em;
  font-weight: 600;
  text-align: right;
}

.terapeutica-container, .terapia-container, .individual-container{
  display: flex;
  margin-top: 50px;
  width: 100%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.terapeutica-container h2, .terapia-container h2, .individual-container h2{
  font-size: 3em;
  max-width: 400px;
  align-self: center;
  padding: 10px;
  font-weight: 400;
  margin-left: 50px;
  text-transform: uppercase;
}


.terapeutica-parag, .terapia-parag,  .individual-parag{
  font-size: 1.1em;
  margin-right: 50px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(90, 90, 90);
}

.terapeutica-parag p, .terapia-parag p, .individual-parag p{
  padding: 20px;
}

.botao {
  display: inline-block;
  border-radius: 4px;  
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 0.95em;
  padding: 18px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
  border-radius: 50px;
  background-image: linear-gradient(-50deg, #0100EC, #FC5252);
}

.botao span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.botao span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.botao:hover span {
  padding-right: 25px;
}

.botao:hover span:after {
  opacity: 1;
  right: 0;
}

  /* ---------->>> FOOTER <<<-----------*/

#footer-bg{
  display: flex; 
  width: 100%; 
  min-height: 25%;
  background-image: linear-gradient(-50deg, #0100EC, #FC5252);
  justify-content: center;
}

.footer-tamanho{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: auto; 
  padding: 2%;
}

.footer-info{
  margin-left: 20px;
  padding: 10px;
  align-self: center;
  color: #FFF;
}

.footer-info h2, .footer-info p{
  padding: 5px 0;
  text-align: left;
}

footer img{
  width: 30px;
  height: 30px;
}

.footer-sociais{
  display: flex;
  width: 150px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.footer-facebook, .footer-insta, .footer-twitter{
  padding: 5px;
  margin-left: 5px;
}

.footer-contatos{
  width: auto ;
  height: auto;
  margin-right: 50px;
}

.email, .telefone, .endereco{
  display: flex;
  padding: 5px;
  color: #FFF;
  align-items: center;
}

.endereco a{
  color: #FFF;
  padding: 5px;
}

.footer-contatos img{
padding-right: 10px;
}