/* ---------->>> GLOBAL <<<-----------*/

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}


/* ---------->>> NAVBAR <<<-----------*/

#menu{
  display: flex;
  position: fixed;
  margin-top: 70px;
  width: 100%;
  height: 50px;
  justify-content: center;
  /* border: solid 1px #8c92a2;  */
  font-family: arial;
  font-size: 11pt;
  font-weight: 600;
}

#menu ul{
  list-style: none;
  position: fixed;
  /* background: #3852a7; */
  /* border-bottom: solid 1px #FFF; */
  background-image: linear-gradient(-50deg, #0100EC, #FC5252);;
}

#menu ul li{
  width: 150px;
  float: left;
}

#menu a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  /* border: solid 0.5px #8c92a2; */
  /* background:rgba(203,199,203,0.70); */
  color: #FFF;
}

#menu ul ul{
  position: absolute;
  visibility: hidden; 
}

#menu ul li:hover ul{
  visibility: visible;
  color: #FFF;
}

#menu a:hover{
  background:rgba(1, 0, 236,0.30);
  color: #FFF;
  border-top: solid 1px #FFF;
  border-bottom: solid 1px #FFF;
}

#menu ul ul li{
  float: none;
  /* border-bottom: solid 1px #FFF; */
  background: rgba(252, 82, 82, 0.4);
}


/* ---------->>> HEADER <<<-----------*/

#header-principal{
  display: flex;
  /* order: 1; */
  width: 100%;
  height: 49vw;
  background-color: #00ffed;
  background-image: linear-gradient(-50deg, #0100EC, #FC5252);;
}

.item_div_header{
  display: flex;
  /* justify-content: center; */
  /* align-items: flex-end ; */
  order: 2;
  width: 55px;  
  margin: auto 0;
  margin-left: 100px;
  height: auto;
  color: #FFF;
  font-size: 20pt;
} 


/* ---------->>> MAIN <<<-----------*/

#container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 48vw;
  background:rgba(131, 129, 129, 0.555);
}


/* ---------->>> MAIN <<<-----------*/

/* #main{
  width: 100%;
  height: 49vw;
} */


/* ---------->>> APOIE <<<-----------*/

#sc-apoie{
  width: 100%;
  height: 48vw;
  /* background: blueviolet; */
  }

/* ---------->>> FOOTER <<<-----------*/

#ft-container{
  display: flex;
  background: #8c92a2;
  justify-content: center;
}

#div-items{
  justify-content: flex-end;
  
}
.ft-item{
  width: 30px;
  height: 30px;  
}

.ft-gps{
  width: 150px;
  height: 50px;
  text-align: center;  
}

.ft-gps img{
  /* text-align: center; */
}